<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      body { font-family: arial,sans-serif; }
      table { border-collapse: collapse; }
      table, td, th { border-bottom: 1px solid black; }
    </style>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=visualization"  type="text/javascript"></script>
  </head>
  <body>

	<div id="map" style="width: 100%; height: 70%;"></div>

	<br/>
	Buscar por: <select id="busca">
		<option value="total" selected>Total</option>
		<option value="feridos">Numero de Feridos</option>
		<option value="mortes">Numero de Mortes</option>
		<option value="fatais">Acidentes Fatais</option>
		<option value="taxi">Envolvendo Taxi</option>
		<option value="moto">Envolvendo Moto</option>
		<option value="onibus">Envolvendo Onibus</option>
		<option value="lotacao">Envolvendo Lotação</option>
		<option value="caminhao">Envolvendo Caminhão</option>
		<option value="bicicleta">Envolvendo Bicicleta</option>
	</select>
	<br/>

    <table id="tabela">
      <tr>
        <th>Contagem</th><th>Via</th>
      </tr>
    </table>

    <script type="text/javascript">
		function marcarNoMapa(via, latitude, longitude) {
	  		if (typeof marcador != "undefined") {
	  			marcador.setMap(null);
	  		}
			marcador = new google.maps.Marker({
				position: {lat: latitude, lng: longitude},
				map: map,
				title: via
			});
			map.panTo({lat: latitude, lng: longitude});
		}


      (function() {
		var heatmap;
		var marcador;

      	function carregaTabela() {
      		$('#tabela .ranking').remove();
      		if (typeof heatmap != "undefined") {
      			heatmap.setMap(null);
      		}
	        $.ajax({
	          url: '/query/top/'+ $('#busca option:selected').val() +'/100',
	          type: 'GET',
	          success: function(data) {
	          	var heatmap_locations = [];
	            $.each($.parseJSON(data), function(i, item) {
	              $('#tabela tr:last').after('<tr class="ranking"><td>' + item.ranking + '</td>'+
	                  '<td><a href="#" onclick="marcarNoMapa(\''+ item.via +'\', '+ item.latitude +', '+ item.longitude +')">' + item.via + '</a></td>'+
	                '</tr>');
	              heatmap_locations.push({location: new google.maps.LatLng(parseFloat(item.latitude), parseFloat(item.longitude)), weight: 10*parseFloat(item.ranking)});
	            })

		          heatmap = new google.maps.visualization.HeatmapLayer({
				    data: heatmap_locations,
				    radius: 40,
				    map: map
				  });

	          },
	          error : function(data) {	         
	            $('#tabela tr:last').after('<tr class="ranking"><td colspan="4">Erro ao tentar extrair dados. Tem certeza que o servidor esta rodando?</td></tr>');
	          }
	        });
		}

		map = new google.maps.Map(document.getElementById('map'), {
		    center: {lat: -30.1008231, lng: -51.1589488},
		    zoom: 11
		});
		
		google.maps.event.addListener(map, 'tilesloaded', function() {
			carregaTabela();
		});

		$('#busca').change(function () {
			carregaTabela();
		})
      })();
    </script>
  </body>
</html>
